/* LAYOUT */
.app {
  height: 100vh;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  background-color: var(--bg-color);
}

.main-container {
  width: 100%;
  box-shadow:
    0px -10px 20px rgba(0, 0, 0, 0.08),
    0px 10px 20px rgba(0, 0, 0, 0.12);
  background: var(--box-shadow-1);
  padding: 2rem 15rem;
  margin-top: 3rem;
}
.dark-mode .main-container {
  box-shadow:
    0px -10px 20px rgba(255, 255, 255, 0.05),
    0px 10px 25px rgba(69, 68, 68, 0.827);
}




/* FORM */

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  margin-top: 40px;
}

.keywords-input {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-radius: 6px;
  font-weight: 500;
  color: black;
  transition: all 0.2s ease-in-out;
  background: linear-gradient(to bottom, var(--white-color), #e6e6e6);
  border: 1px solid var(--box-shadow-2);
  box-shadow: var(--set-box-shadow);

}

.keywords-input:focus {
  border-color: var(--button-bg-dark);
  outline: none;
}


.button-submit {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-weight: 700;
  font-size: 1.2rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: transform 0.2s ease, background-image 0.3s ease, box-shadow 0.3s ease;
  background-image: linear-gradient(to bottom, var(--button-bg-clear), var(--button-bg-dark));
  color: var(--bg-color);
  box-shadow: var(--set-box-shadow);
}
.button-submit:hover {
  background: linear-gradient(to bottom, var(--button-bg-clear), var(--button-bg-dark));
  box-shadow: 3px 3px 8px var(--box-shadow-3), -3px -3px 8px var(--box-shadow-2);
  transform: scale(1.04);
}

.button-submit:active {
  box-shadow: inset 3px 3px 6px var(--box-shadow-3), inset -3px -3px 6px var(--box-shadow-1);
  transform: scale(0.98);
}

/* RESPONSIVE FORM */
@media screen and (max-width: 400px) {
  .main-container {
    display: inline-table;
    padding: 1rem 0rem;
    margin: 2rem auto;
  }
  form {
    gap: 5px;
    margin-top: 1rem;
  }

  .keywords-input {
    font-size: 1rem;
    width: 11rem;
  }

  .button-submit {
    font-size: 1rem;
    padding: 0.5rem 0.8rem;
    font-weight: 700;
  }
}

/* DISPLAY OF THE KEYWORDS */

.listPartText {
  position: relative;
  right: 12rem;
  top: 0rem;
  font-size: 3rem;
  z-index: 1;
  color: var(--text-color);
  margin: 0 0 0 2rem;  ;
}


.listPart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 ;

}

.li-keyword{
  flex-grow: 1;
  min-width: fit-content;
  margin: 0.8rem 1rem;
}

.keywords-added {
  width: calc(25% - 10px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1.4rem;
  color: var(--text-color);
  background: linear-gradient(to bottom, var(--orange-deezer), rgba(255, 255, 255, 0.1));
  text-align: center;
  padding: 0 0.7rem;
  border-radius: 25px;
  width: calc(33.33% - 12px);
  min-width: min-content;
  max-width: 100%;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
  box-shadow: 3px 3px 6px var(--box-shadow-2),
              -3px -3px 6px var(--box-shadow-1),
              inset 0px 0px 4px var(--box-shadow-inner);
}

.keywords-added:hover {
  transform: translateY(-2px);
  box-shadow: 4px 4px 8px var(--box-shadow-3);
}

.listPartList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.2rem;
  padding: 0;
  margin: 2rem auto;
}


/* RESPONSIVE KEYWORDS */
@media screen and (max-width: 600px) {
  .listPartText {
    font-size: 1.7rem;
    right: 1.3rem;
  }
  .listPart{
    margin: 1rem 0.1rem 0 0.1rem;
  }

  .li-keyword{
    width: 10px;
    margin: 5px 10px;
  }

  .keywords-added {
    width: calc(40% - 10px);
    font-size: 1.2rem;
    padding: 0.3rem 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
}


/* LOADING STATE */
.loading-text {
  font-size: 18px;
  font-weight: bold;
  color: var(--highlight-color);
  animation: blink 1.2s infinite;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
