/* LAYOUT */
.app {
  height: 100vh;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  width: 100%;
  background-color: var(--bg-color);
  /* padding-bottom: 60px; */
}

.main-container {
  width: 100%;
  box-shadow:
    0px -10px 20px rgba(0, 0, 0, 0.08),
    0px 10px 20px rgba(0, 0, 0, 0.12);
  background: var(--box-shadow-1);
  padding: 2rem 15rem;
  margin-top: 3rem;
}
.dark-mode .main-container {
  box-shadow:
    0px -10px 20px rgba(255, 255, 255, 0.05),
    0px 10px 25px rgba(69, 68, 68, 0.827);
}

@media screen and (max-width: 1065px) {
  .main-container {
    display: inline-table;
    padding: 1rem 0rem;
    margin: 2rem auto;
  }
}
@media screen and (max-width: 400px) {
  .main-container {
    display: inline-table;
    padding: 1rem 0rem;
    margin: 1.3rem auto;
}
}


/* FORM */

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  margin-top: 40px;
}

.keywords-input {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-radius: 6px;
  font-weight: 500;
  color: black;
  transition: all 0.2s ease-in-out;
  background: linear-gradient(to bottom, var(--white-color), #e6e6e6);
  border: 1px solid var(--box-shadow-2);
  box-shadow: var(--set-box-shadow);

}

.keywords-input:focus {
  border-color: var(--button-bg-dark);
  outline: none;
}


.button-submit {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-weight: 700;
  font-size: 1.2rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: transform 0.2s ease, background-image 0.3s ease, box-shadow 0.3s ease;
  background-image: linear-gradient(to bottom, var(--button-bg-clear), var(--button-bg-dark));
  color: var(--bg-color);
  box-shadow: var(--set-box-shadow);
}
.button-submit:hover {
  background: linear-gradient(to bottom, var(--button-bg-clear), var(--button-bg-dark));
  box-shadow: 3px 3px 8px var(--box-shadow-3), -3px -3px 8px var(--box-shadow-2);
  transform: scale(1.04);
}

.button-submit:active {
  box-shadow: inset 3px 3px 6px var(--box-shadow-3), inset -3px -3px 6px var(--box-shadow-1);
  transform: scale(0.98);
}

/* RESPONSIVE FORM */

@media screen and (max-width: 1065px) {
  form {
    gap: 5px;
    margin-top: 1rem;
  }

  .keywords-input {
    font-size: 1rem;
    width: 11rem;
  }

  .button-submit {
    font-size: 1rem;
    padding: 0.5rem 0.8rem;
    font-weight: 700;
  }
}

/* DISPLAY OF THE KEYWORDS */

.listPartText {
  /* right: 20rem; */
  font-size: 3rem;
  z-index: 1;
  color: var(--text-color);
  position: relative;
  margin: 0 0;
}
.simple-text{
  color: var(--text-color);
  font-size: 2.25rem;
  margin: 1rem 2rem;
}


.listPart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 ;

}

/* .li-keyword{
  flex-grow: 1;
  min-width: fit-content;
  margin: 0.8rem 1rem;
} */

/* .keywords-added {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1.4rem;
  color: var(--text-color);
  background: linear-gradient(to bottom, var(--orange-deezer), rgba(255, 255, 255, 0.1));
  text-align: center;
  padding: 0 0.7rem;
  border-radius: 25px;
  width: calc(33.33% - 12px);
  min-width: min-content;
  max-width: 100%;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
  box-shadow: 3px 3px 6px var(--box-shadow-2),
              -3px -3px 6px var(--box-shadow-1),
              inset 0px 0px 4px var(--box-shadow-inner);
}

.keywords-added:hover {
  transform: translateY(-2px);
  box-shadow: 4px 4px 8px var(--box-shadow-3);
} */

.listPartList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.2rem;
  padding: 0;
  margin: 2rem auto;
}


/* RESPONSIVE KEYWORDS */
@media screen and (min-width: 900px) and (max-width: 1065px) {
  .listPartText {
    font-size: 3rem;
    padding-left: 5rem;
  }
  .simple-text {
    font-size: 2.5rem;
    padding-left: 6rem;

  }


}


@media screen and (min-width: 318px) and (max-width: 599px){
  .listPartText {
    font-size: 2rem;
    letter-spacing: 0.07rem;
    right: 0rem;
    padding-left: 0.8rem;
  }
/*
  .keywords-added {
    font-weight: 200;
    font-size: 1.3rem;
    color: var(--text-color);
    min-width: min-content;
    max-width: 100%;
    white-space: nowrap;
    height: min-content;
  }
  .li-keyword {
    font-size: 1.3rem;
    margin: 0.5rem 0.6rem;
  } */


   .simple-text{
    color: var(--text-color) ;
    font-size: 1.6rem;
    padding-left: 1.4rem;
    letter-spacing: 0.11rem;
    margin: 1rem 0;
  }
  .listPart{
    margin: 1rem 0;
  }

  .listPartList {
  margin: 1rem 0;
  }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
  .listPartText {
    font-size: 2.4rem;
    right: 0rem;
    margin-left: 4rem;
  }
/*
  .li-keyword{
    width: 10px;
    margin: 5px 10px;
  }

  .keywords-added {
    width: calc(40% - 10px);
    font-size: 1.2rem;
    padding: 0.3rem 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
  } */

  .simple-text{
    color: var(--text-color) ;
    font-size: 1.8rem;
    margin-left: 4rem;
  }
}

/* LOADING STATE */
.loading-text {
  font-size: 18px;
  font-weight: bold;
  color: var(--highlight-color);
  animation: blink 1.2s infinite;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}



.buttonUiverse {
  --main-focus: #0d66c5;
  /* --font-color: #323232; */
  --bg-color-sub: var(--orange-deezer);
  --bg-color: #eee;
  --main-color: #323232;
  position: relative;
  width: 170px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align text to the start */
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow: hidden;
  font-size: 1.4rem;
  /* color: var(--text-color); */
  background: linear-gradient(to bottom, var(--orange-deezer), rgba(255, 255, 255, 0.1));
}

.buttonUiverse, .buttonUiverse__icon, .buttonUiverse__text {
  transition: all 0.3s;
  color: var(--text-color);

}

.buttonUiverse .buttonUiverse__text {
  color: var(--font-color);
  font-weight: 600;
  font-family: "cabin", sans-serif;
  text-align: left; /* Align text to the start */
  padding-left: 10px; /* Add a small padding for spacing */
}

.buttonUiverse .buttonUiverse__icon {
  position: absolute;
  right: 0;
  height: 100%;
  width: 39px;
  background-color: var(--bg-color-sub);
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonUiverse .svg {
  width: 20px;
  fill: var(--main-color);
}

.buttonUiverse:hover {
  background: var(--bg-color);
}

.buttonUiverse:hover .buttonUiverse__text {
  color: transparent;
}

.buttonUiverse:hover .buttonUiverse__icon {
  width: 168px;
  transform: translateX(0);
}

.buttonUiverse:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px var(--main-color);
}
