.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 3rem;
  color: var(--bg-color);
  margin-top: auto;
  box-sizing: border-box;
  left: 0px;
  bottom: 0px;
  background: var(--header-footer-deezer);
  box-shadow: 0px -3px 4px -1px rgb(0 0 0 / 28%);
}

.footer-links a {
  color: var(--input-text-color);
  opacity: 0.75;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0 0.4rem;
}


.footer-links a:hover {
  opacity: 1;
  color: var(--text-color);
}

.footer-copyright {
  padding: 0.4rem 2rem 0.4rem 2rem;
}


@media (max-width: 400px) {
  .footer-container {
    height: 40px;
    padding: 0 0.4rem;
    font-size: 0.7rem;
  }
}
@media (max-width: 600px) {
  .footer {
    height: 50px;
    padding: 0 0.5rem;
    font-size: 0.7rem;
  }

}
