/* GENERAL */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: "cabin", sans-serif;
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}



*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --bg-color: #f9f9f9e4;
  --bg-playlist:#26bce92d;
  --text-color: #121212;
  --primary-color: #bb3906;
  /* --orange-deezer: #d21b079e; */
  --orange-deezer: #f42c04;

  --white-color: #ffffff;
  --secondary-color: #05295e;
  --highlight-color: #c1292e;
  --input-bg: #ffffff;
  --header-footer-deezer: #b36af4;
  --input-text: #26bce9;
  --button-bg-clear:#a238ff;
  --button-bg-dark: #720bcc;
  --box-shadow-1: rgba(0, 0, 0, 0.1);
  --box-shadow-2: rgba(0, 0, 0, 0.15);
  --box-shadow-3: rgba(0, 0, 0, 0.2);
  --box-shadow-inner: none;


  --set-box-shadow:
    inset 3px 3px 6px var(--box-shadow-1),  /* Soft inner glow */
    inset -3px -3px 6px var(--box-shadow-3), /* Subtle depth effect */
    2px 2px 8px var(--box-shadow-3);
  --set-bg-tiles: linear-gradient(to bottom, var(--orange-deezer), rgba(255, 255, 255, 0.1));


  --card-backgroud: #a238ff30;
  --card-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

  /* --card-title: rgba(102, 100, 100, 0.911); */
}

 /* DARK MODE VARS */
.dark-mode {

  --card-backgroud: rgb(71, 64, 64);
  --card-box-shadow: 0 8px 32px 0 rgb(102, 109, 198);
  /* --card-title: rgba(102, 100, 100, 0.911); */


  --bg-color: #121212;
  --bg-playlist:#292c2e73;
  --text-color: #f9f9f9e4;
  --primary-color: #3a85f3;
  /* --orange-deezer: #0857ce; */
  --orange-deezer: #07BEB8;

  --secondary-color: #1c3d5a;
  --highlight-color: #ff6161;
  --input-bg: #dad9d9;
  --header-footer-deezer: #8806fa;
  --input-text: #8806fa;
  --button-bg-clear:#96f9f3;
  --button-bg-dark: #26bce9;
  --box-shadow-1: rgba(255, 255, 255, 0.08);  /* Soft outer glow */
  --box-shadow-2: rgba(255, 255, 255, 0.2);   /* Medium outer glow */
  --box-shadow-3: rgba(255, 255, 255, 0.35); /* Strongest outer glow */
  --box-shadow-inner: rgba(255, 255, 255, 0.15); /* Soft glow inside */
  --set-box-shadow:
    inset 2px 2px 5px var(--box-shadow-2), /* Slightly deeper inner glow */
    inset -2px -2px 5px var(--box-shadow-3), /* Balanced depth */
    4px 5px 6px var(--box-shadow-3), /* Stronger outer shadow */
    -2px -2px 6px rgba(0, 0, 0, 0.7); /* Darker contrast */
  --set-gb-tiles: linear-gradient(to bottom, var(--orange-deezer), var(--secondary-color));
}

p {
  color: var(--text-color);
  font-size: 0.9rem;
}

.colored-spaned-words {
  color: var(--button-bg-clear);
  font-style: italic;
}
