.playlist-container {
  color: var(--text-color);
  line-height: 1.7rem;
  font-size: 1.125rem;
  font-weight: 400;
  margin: 1rem 2rem;
  background-color: var(--bg-playlist);
  border-radius: 4px;
  padding: 1rem 2rem;
  box-shadow:
  0 1px 3px var(--box-shadow-1),
  0 10px 30px var(--box-shadow-2),
  0 5px 20px var(--box-shadow-3);
}



.playlist-container ul li,
.playlist-container ol li {
  margin-bottom: 0.3rem;
  padding: 0.4rem;
  border-radius: 5px;
  font-weight: bold;
}

.playlist-container ul {
  display: grid;
  grid-template-columns: repeat(2, 40%);
  column-gap: 7rem;
  padding: 0;
  list-style: none;
}

.playlist-container p {
  font-size: 1.5rem;
}

.playlist-container h2 {
  font-size: 1.5rem;

}

.playlist-container h1 {
  font-size: 1.5rem;
  font-style: italic;
  color: var(--button-bg-clear);
}

.playlist-container h1 {
  font-size: 1.7rem;
  margin-left: 1rem;
  font-style: italic;
}


@media screen and (max-width: 400px) {
  .playlist-container {
    line-height: 1.2rem;
    font-size: 1.125rem;
    font-weight: 400;
    margin-left: 1.5rem;
  }
  .playlist-container ul {
    grid-template-columns: 1fr; /* Single column layout */
  }

  .playlist-container p {
    font-size: 1.3rem;
  }

  .playlist-container h2 {
    font-size: 1.3rem;
  }

  .playlist-container h1 {
    font-size: 1.5rem;
    margin-left: 30px;
  }
}
